boto3==1.7.14
botocore==1.10.14
cycler==0.10.0
docutils==0.14
jmespath==0.9.3
kiwisolver==1.0.1
lxml==4.2.1
matplotlib==2.2.2
numpy==1.14.3
pyparsing==2.2.0
python-dateutil==2.7.2
python-docx==0.8.6
pytz==2018.4
s3transfer==0.1.13
six==1.11.0
